* {
    margin: 0px;
    padding: 2px;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo {
    width: 220px;
    height: 211px
}

.logo img {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    border: 3px green solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    border: solid 2px yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
    padding: 20px;
}

.produto {
    border: solid 2px purple;
    gap: 3px;
}

.bigimg {
    width: 448px;
    height: 448px;
    border: solid red 2px;
}

.bigimg img {
    border: solid black 2px;
    width: 100%;
}

.desc {
    border-radius: 16px;
    background-color: darkgray;
    width: 340px;
    height: 365.6px;
    padding: 10px;
}

.desc p {
    font-size: 20px;
}

input {
    background-color: black;
}

input[type="submit"] {
    content: "Prosseguir";
    color: #fafafa;
    background-color: black;
    width: 100px;
    height: 40px;
    transition: 0.3s;
    border-radius: 16px;
    border: none;
}

input[type="submit"]:hover {
    color: black;
    background-color: #fafafa
}

.imagens {
    display: flex;
    justify-content: start;
    align-items: center;
}

.small-img {
    box-shadow: gray 0px 0px 2px;
    width: 110px;
    height: 110px;
}

.small-img img {
    width: 100%;
}